@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color:#151925;
    --second-bg-color: #20252d;
    --text-color: #fff;
    --main-color:#0ef;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;

}
.home-content h3 {
    font-size: 3rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    color: var(--main-color);
}
.home-img img {
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 1rem var(--main-color);
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4remf);
    }
    100%{
        transform: translateY(0);
    }
}
.home-content h1 {
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p{
    font-size: 1.6rem;
    padding-right: 2rem;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.5rem;
    background: var(--main-color);
    border-radius: 5rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.5rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 500;
}
.btn:hover{
    box-shadow: none;

}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}
.about-img img{
    height: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 1rem var(--main-color);
}
.heading{
    text-align: center; 
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{ 
    font-size: 2.5rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 2rem 3rem;
}
.service h2{
    margin-bottom: 5rem;
}
.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.service-container .service-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}
.service-container .service-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}
.service-box i{
    font-size: 7rem;
    color: var(--main-color);
}
.service-box h3{
    font-size: 2.5rem;
}
.service-box p{
    font-size: 1.5rem;
    margin: 1rem 0 3rem;
}
.portfolio{
    background: var(--second-bg-color);
}
.portfolio h2{
    margin-bottom: 5rem;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1ren var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover  img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 3rem;
}
.portfolio-layer p{
    font-size: 1.5rem;
    margin: .3re 0 1rem;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;    
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}
.footer-text p{
    font-size: 1.6rem;
}
.footer-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-icon a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-icon a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/*------------------breakpoints-------------*/
@media (max-width:1200px) {
    html{
        font-size: 55%;

    }
}

@media (max-width:991px) {
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .service{
        padding-bottom: 7rem;
    }
   
    .footer{
        padding: 2rem 3%;
    }
}
@media (max-width:768px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top:  .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0  .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.5rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-img img {
        width: 50vw;
        height: 50vw;
        margin-top: 4rem;
    }
    .about {
        flex-direction: column-reverse;
    }
    .about-img img{
        width: 50vw;
        height: 50vw;
        margin-top: 4rem;
    }
    .service h2 {
        margin-bottom: 3rem;
    }
    .portfolio h2 {
        margin-bottom: 3rem;
    }
    .portfolio-container {
        grid-template-columns: repeat(2, 1fr)
    }
}
@media (max-width:617px) {
    .portfolio-container {
        grid-template-columns: repeat(1, 1fr)
    }
}
@media (max-width:456px)  {
    html {
        font-size: 50%;
    }
}
@media (max-width:365px) {
    .home-img img {
        width: 90vw;
    }
    .about-img img {
        width: 40vw;
    }
    .footer {
        flex-direction: column-reverse;
    }
}